<!DOCTYPE html>
<html>
<head>
    <title>Calendrier interactif</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.8/index.min.js" integrity="sha512-xCMh+IX6X2jqIgak2DBvsP6DNPne/t52lMbAUJSjr3+trFn14zlaryZlBcXbHKw8SbrpS0n3zlqSVmZPITRDSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js
"></script></head>

<body>
    <h1>Calendrier interactif</h1>

    <a href ="add"'>Add</a>
    <div id="calendar"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function saveEvents(events) {
                fetch('/events', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(events)
                })
                .then(response => response.json())

                .then(data => {
                    console.log(data);
                    console.log('Événements mis à jour sur le serveur');
                });
            }

            fetch('/events')
                .then(response => response.json())
                .then(data => {
                    var calendarEl = document.getElementById('calendar');
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        events: data,
                        editable: true, 
                        eventDrop: function(info) {
                            saveEvents(calendar.getEvents());
                        },
                        eventResize: function(info) {
                            saveEvents(calendar.getEvents());
                        },
                        initialView: 'dayGridWeek',
                        locale:'fr',
                        headerToolbar: {
                            center: 'timeGridTwoDay,timeGridFourDay,Default,timeGridEightDay,timeGridSixtyDay' // buttons for switching between views
                        },
                        views: {
                            timeGridTwoDay: {
                            type: 'timeGrid',
                            duration: { days: 2 },
                            buttonText: '2 day'
                            },
                            timeGridFourDay: {
                            type: 'timeGrid',
                            duration: { days: 4 },
                            buttonText: '4 day'
                            },
                            timeGridEightDay: {
                            type: 'timeGrid',
                            duration: { days: 8 },
                            buttonText: '8 day'
                            },
                            timeGridSixtyDay: {
                            type: 'timeGrid',
                            duration: { days: 16 },
                            buttonText: '16 day'
                            },
                            Default: {
                            type: 'timeGrid',
                            duration: { days: 7 },
                            buttonText: 'Default'
                            }
                            
                            
                        }
                    });

                    calendar.render();
                });
        });
    </script>
</body>
</html>
